{% load i18n staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %} - Zinnia's Weblog</title>
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />
    <meta name="google-site-verification" content="cF4bPxT4xFhubFnalSQ4j2VOkQj0xyTlCFdLtFhL2X0" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/screen.css" %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/theme/css/print.css" %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "main.css" %}" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>
  <body class="zinnia {% block theme-class %}default{% endblock theme-class %} {% block color-class %}{% endblock color-class %} {% block sidebar-class %}right-sidebar{% endblock sidebar-class %} {% block body-class %}{% endblock body-class %}">
    <div class="header">
        <div class="container">
          <h3 class="title"><a href="/"><img src="/static/img/logo_extremadura_cumple.png" alt="extremaduracumple" title="extremaduracumple"></a></h3>
          <ul class="nav">
            <li><a href="http://extremaduracumple.es/pages/metodologia">Metodología</a></li>
            <li><a class="active" href="/noticias/">Noticias</a></li>
          </ul>
        </div>
    </div>
    <div class="container">
      
      {% block slider %}{% endblock slider %}
      <div id="content" class="hfeed" role="main">
        {% block content %}
        <div class="links">
          <h2>{% trans "Useful links" %}</h2>
          <ul>
            <li>
              <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                {% trans "Weblog index" %}
              </a>
            </li>
            <li>
              <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                {% trans "Sitemap" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="search">
          <h2>{% trans "Search" %}</h2>
          {% include "zinnia/tags/search_form.html" %}
        </div>
        {% endblock content %}
      </div>
      <div id="sidebar" role="complementary">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
    </div>
    
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="copyright-space">2014 © Junta de Extremadura. Todos los derechos reservados. <a title="aviso legal" target="_blank" href="http://www.gobex.es/web/aviso-legal">Aviso Legal</a> - <a title="cookies" target="_blank" href="http://www.gobex.es/web/politica-de-cookies">Política de Cookies</a></p>
            </div>
            <div class="col-md-5">
                <a target="_blank" href="http://www.ciudadanointeligente.org/">
                    <img class="img-responsive ciudadano" src="/static/img/logo-ciudadanoi-parafondooscuro.png">
                </a>
                <a class="githublink" href="https://github.com/ciudadanointeligente/deldichoalhecho" target="_blank"><i class="fa fa-github-alt"></i> Código en Github</a>
            </div>
        </div>
        <!--/row-->
        </div>
    </div>
</div>
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37486553-3', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
