/*GENERAL*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 13px;
    background-color: #FCFCFC;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a {
  color: #555;
}

a:hover,
.verification-document a {
    cursor: pointer;
    color: #72c02c;
}

a:hover {
    text-decoration: underline;
}

.color-green {
    color: #72c02c;
}

/*Hs*/

h1 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

h3.panel-title {
  font-size: 24px;
  margin: 10px 0 20px;
}

h3.title {
  float: left;
  margin: 5px 0 10px;
}

h3.panel-title span {
  font-size: 14px;
  font-weight: 500;
  color: #8BA2B7;
}

h4 {
  font-weight: 900;
}

li {
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

ul, ol {
    margin-top: 0.3em;
}

ol li ol {
    list-style-type: lower-alpha;
}

table {
    width: 100%;
    margin: 1em 0;
    max-width: 100%;
}

table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
    padding: 0.6em;
    line-height: 1.4em;
    vertical-align: top;
    border-top: 1px solid #ddd;
}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  *zoom: 1;
}

/*Block Headline*/
.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.headline h2, 
.headline h3, 
.headline h4 {
    color: #585f69;
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #72c02c;
}
.headline h2 {
    font-size: 23px;
}

.headline-md h2 {
    font-size: 21px;
}

.headline-md {
    margin-bottom: 15px;
}

.jumbotron h1 {
    font-size: 34px;
    text-align: center;
}

.text-right a {
    font-size: 1em;
    color: #72c02c;
    
}
/*NAVBAR*/

.nav {
  float: right;
  margin: 5px 0px 0px;
}

.header a {
  text-decoration: none;
  color: black;
}

.header .nav {
    margin-top: 2.5em;
}

.header ul.nav > li  {
    display: inline-block;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
  color: black;
  border-bottom: 2px solid #72c02c;
}

.nav>li>a {
  padding: 7px 15px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #08173A;
  border-color: transparent;
}

.dropdown-menu {
  background-color: #0F2356;
  border: none;
}

.dropdown-menu>li>a {
  color: #FFF;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #08173A;
  color: #fff;
}

.nav-pills>li {
  margin: 4px 0;
}

/*JUMBOTRON*/

.jumbotron {
  position: relative;
  padding: 0px;
  background-color: transparent;
}

.jumbotron:after {
  position: absolute;
  top: 100px;
  left: 0;
  color: #F8981D;
  text-align: center;
  width: 100%;
  font-size: 48px;
  font-weight: 300px;
  text-shadow: 0.5px 0.5px 1px rgba(11, 15, 61, 0.31);
}

/*MENU CATEGORIAS*/

.category-menu .list-inline {
  line-height: 39px;
}

.category-menu li a {
    background: #00af48;
    padding: 0.3em 1em;
    border-radius: 0.2em;
    text-decoration: none;
    color: #fff;
}

.category-menu li a:hover {
    background: #27ae60;
}

/*LABELS*/

.label-primary {
  background-color: #8BA2B7;
}

.label {
  line-height: 30px;
}

/*PANEL*/

.panel {
  background-color: #dadada;
}

.panel-group .panel-default {
  margin-bottom: 20px;
}

.panel-default {
  border-color: transparent;
}

.panel-default>.panel-heading {
    color: #585f69;
    background-color: #dadada;
    border-color: transparent;
}

.panel-group .panel+.panel {
  margin-top: 45px;
}

@media (max-width: 1000px) {
  .panel-group .panel+.panel {
  margin-top: 15px;
  }
}

.read-more p.text-center.category-expander {
  background-color: #27ae60;
  margin: 0px -15px -15px;
  color: #fff;
}

.read-less p.text-center.category-expander {
    background-color: #27ae60;
    color: #fff;
    margin-bottom: 0;
}

.read-more {
  position: relative;
}

.panel-body .read-more:before {
  content: '';
  width: 2000px;
  height: 40px;
  background: -moz-linear-gradient(top,  rgba(118,118,118,0) 0%, rgba(118,118,118,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(118,118,118,0)), color-stop(100%,rgba(118,118,118,1)));
  background: -webkit-linear-gradient(top,  rgba(118,118,118,0) 0%,rgba(118,118,118,1) 100%);
  background: -o-linear-gradient(top,  rgba(118,118,118,0) 0%,rgba(118,118,118,1) 100%);
  background: -ms-linear-gradient(top,  rgba(118,118,118,0) 0%,rgba(118,118,118,1) 100%);
  background: linear-gradient(to bottom,  rgba(118,118,118,0) 0%,rgba(118,118,118,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dadada', endColorstr='#dadada',GradientType=0 );
  position: absolute;
  bottom: 0px;
  left: -15px;
}

.verification-docs ul {
list-style-type: lower-roman;
}

/*PROGRESSBAR*/

.progress {
  height: inherit;
  background-color: white;
  border-radius: 0px;
  position: relative;
}

.progress-bar {
    color: #DADADA;
  font-size: 36px;
  text-align: right;
  background-color: #2ecc71;
  font-weight: 300;
  padding: 20px 5px;
}

.summary-progress .progress-bar {
  cursor: pointer;
  height: 73px;
  padding: 25px 5px;
}

.progress-bar-danger {
  background-color: #E53E3E;
}

.progress-bar-warning {
  background-color: #AAC2CC;
}

.progress-bar-success {
  background-color: #40BDF1;
}


@media (max-width: 1000px) {
  div.status {
    display: none;
  }
}

div.status.not-accomplished:before {
  font-family: FontAwesome;
  top: 0;
  content: "\f00d";
  font-size: 50px;
  color: #E53E3E;
}

div.status.half-accomplished:before {
  content: "\e600";
  font-family: 'icomoon';
  font-size: 36px;
  color: #AAC2CC;
}

div.status.accomplished:before {
  position: absolute;
  font-family: FontAwesome;
  top:0;
  content: "\f00c";
  font-size: 50px;
  color: #2ecc71;
}

.promise-name {

}
div.verification-document.not-accomplished {
  border-left: 4px solid #E53E3E;
}

div.verification-document.half-accomplished {
  border-left: 4px solid #8BA2B7;
}

div.verification-document.accomplished {
    border-left: 4px solid #2ecc71;
}

.summary-progress {
    background-color: #231f20;
}

.summary-progress p {
  position: absolute;
  right: 20px;
  font-size: 36px;
}

.summary span.promise-description:after {
  content: "...";
}

.b-color {
    background-color: #dadada;
}

/*PROGRESSBAR LEGEND*/

li.accomplished {
  position: relative;
  margin: 0px 20px 0px 0px;
}

li.accomplished:before {
  content: "";
  height: 10px;
  width: 10px;
  background: #40BDF1;
  position: absolute;
  left: -10px;
  top: 5px;
  border-radius: 5px;
}

li.half-accomplished {
  position: relative;
  margin: 0px 20px 0px 0px;
}

li.half-accomplished:before {
  content: "";
  height: 10px;
  width: 10px;
  background: #AAC2CC;
  position: absolute;
  left: -10px;
  top: 5px;
  border-radius: 5px;
}

li.not-accomplished {
  position: relative;
  margin: 0px 20px 0px 0px;
}

li.not-accomplished:before {
  content: "";
  height: 10px;
  width: 10px;
  background: #E53E3E;
  position: absolute;
  left: -10px;
  top: 5px;
  border-radius: 5px;
}

/*ICONS*/

@font-face {
        font-family: 'icomoon';
        src:url('fonts/icomoon.eot');
        src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
            url('fonts/icomoon.woff') format('woff'),
            url('fonts/icomoon.ttf') format('truetype'),
            url('fonts/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

[data-icon]:before {
        font-family: 'icomoon';
        content: attr(data-icon);
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        color: #8BA2B7;
        font-size: 11px;
    }

.popover i.fa.fa-check {
  color: #40BDF1;
}

.popover i.fa.fa-times {
  color: #E53E3E;
}

/*MODAL*/

.modal-header {
  border-bottom: none;
  background: white;
}

.close {
  font-weight: 300;
  color: #fff;
  text-shadow: none;
  opacity: .5;
}

.close:hover, .close:focus {
  color: #fff;
  opacity: 1;
}

.modal-body span {
  color: #8BA2B7;
}

/*FOOTER*/
.footer {
    color: #dadada;
    margin-top: 40px;
    padding: 20px 0 30px;
    background: #585f69;
}

.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
    color: #72c02c;
}


.footer h2, .footer h3, .footer h4 {
    color: #e4e4e4;
    background: none;
    text-shadow: none;
}

.footer ul.list-unstyled li a {
    color: #DADADA;
    font-size: 12px;
}

.footer ul.list-unstyled li a:hover {
    color: #72C02C;
}

/*Social Icons*/
.social-icons {
    margin: 0;
    padding: 0; 
}
.social-icons li {
    float: left;
    display: inline;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
    text-indent: -9999px;
}
.social-icons li a, a.social-icon {
    width: 28px;
    height: 28px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover a {
    background-position: 0 -38px;
}

.social-icons-color li a {
    opacity: 0.7;
    background-position:0 -38px !important;
}

.social-icons-color li a:hover {
    opacity: 1;
}

.social_amazon {background: url(http://www.gobex.es/web/content/unify/img/icons/social/amazon.png) no-repeat;}
.social_behance {background: url(http://www.gobex.es/web/content/unify/img/icons/social/behance.png) no-repeat;}
.social_blogger {background: url(http://www.gobex.es/web/content/unify/img/icons/social/blogger.png) no-repeat;}
.social_deviantart {background: url(http://www.gobex.es/web/content/unify/img/icons/social/deviantart.png) no-repeat;}
.social_dribbble {background: url(http://www.gobex.es/web/content/unify/img/icons/social/dribbble.png) no-repeat;}
.social_dropbox {background: url(http://www.gobex.es/web/content/unify/img/icons/social/dropbox.png) no-repeat;}
.social_evernote {background: url(http://www.gobex.es/web/content/unify/img/icons/social/evernote.png) no-repeat;}
.social_facebook {background: url(http://www.gobex.es/web/content/unify/img/icons/social/facebook.png) no-repeat;}
.social_forrst {background: url(http://www.gobex.es/web/content/unify/img/icons/social/forrst.png) no-repeat;}
.social_github {background: url(http://www.gobex.es/web/content/unify/img/icons/social/github.png) no-repeat;}
.social_googleplus {background: url(http://www.gobex.es/web/content/unify/img/icons/social/googleplus.png) no-repeat;}
.social_jolicloud {background: url(http://www.gobex.es/web/content/unify/img/icons/social/jolicloud.png) no-repeat;}
.social_last-fm {background: url(http://www.gobex.es/web/content/unify/img/icons/social/last-fm.png) no-repeat;}
.social_linkedin {background: url(http://www.gobex.es/web/content/unify/img/icons/social/linkedin.png) no-repeat;}
.social_picasa {background: url(http://www.gobex.es/web/content/unify/img/icons/social/picasa.png) no-repeat;}
.social_pintrest {background: url(http://www.gobex.es/web/content/unify/img/icons/social/pintrest.png) no-repeat;}
.social_rss {background: url(http://www.gobex.es/web/content/unify/img/icons/social/rss.png) no-repeat;}
.social_skype {background: url(http://www.gobex.es/web/content/unify/img/icons/social/skype.png) no-repeat;}
.social_spotify {background: url(http://www.gobex.es/web/content/unify/img/icons/social/spotify.png) no-repeat;}
.social_stumbleupon {background: url(http://www.gobex.es/web/content/unify/img/icons/social/stumbleupon.png) no-repeat;}
.social_tumblr {background: url(http://www.gobex.es/web/content/unify/img/icons/social/tumblr.png) no-repeat;}
.social_twitter {background: url(http://www.gobex.es/web/content/unify/img/icons/social/twitter.png) no-repeat;}
.social_vimeo {background: url(http://www.gobex.es/web/content/unify/img/icons/social/vimeo.png) no-repeat;}
.social_wordpress {background: url(http://www.gobex.es/web/content/unify/img/icons/social/wordpress.png) no-repeat;}
.social_xing {background: url(http://www.gobex.es/web/content/unify/img/icons/social/xing.png) no-repeat;}
.social_yahoo {background: url(http://www.gobex.es/web/content/unify/img/icons/social/yahoo.png) no-repeat;}
.social_youtube {background: url(http://www.gobex.es/web/content/unify/img/icons/social/youtube.png) no-repeat;}
.social_vk {background: url(http://www.gobex.es/web/content/unify/img/icons/social/vk.png) no-repeat;}
.social_slideshare {background: url("http://www.gobex.es/filescms/web/uploaded_images/layout/slideshare.png") no-repeat;}
.social_flickr {background: url("http://www.gobex.es/filescms/web/uploaded_images/layout/flickr.png") no-repeat;}
/*JUMBOTRON*/
.popover-content {
  color: #dadada;
}

.ribbon {
  width: 30%;
  margin: 30px auto 0px;
  background: #FFF;
  padding: 1px 0px 10px;
  color: #40BDF1;
  position: relative;
}

.ribbon h1 {
  font-size: 28px;
  text-align: center;
}

.ribbon:before {
  content: url(img/ribbon-before.png);
  position: absolute;
  left: -43px;
  bottom: -23px;
}

.ribbon:after {
  content: url(img/ribbon-after.png);
  position: absolute;
  right: -43px;
  bottom: -23px;
}

.hero-space h2 {
  font-weight: 300;
  text-align: center;
  margin: 70px 0;
}

.social-network {
  text-align: center;
  margin-bottom: -29px;
}

/*Copyright*/
.copyright {
    font-size: 12px;
    padding: 1em 0;
    background: #3e4753;
    border-top: solid 1px #777;     
}

.copyright p {
    color: #dadada;
}

.copyright p.copyright-space {
    margin-top: 2em;
}

.copyright a {
    margin: 0 5px;
    color: #72c02c;
}
.copyright a:hover {
    color: #a8f85f;
}

.copyright a.githublink {
    float: right;
    margin-top: 1.7em;
}

.copyrightInfo {
    color: white;
    position: absolute;
    left: -2em;
}

.copyright .ciudadano {
    display: inline-block;
    margin-top: 1.4em
}


.copyright .ciudadano img {
    max-width: 10em;
    display: inline-block;
}

.zinnia .copyright .githublink {
    display: inline-block;
    margin-top: 2.3em;
    vertical-align: top;
}

/* BLOG STYLES */
.zinnia.default .header ul.nav a {
    color: black;
}
.zinnia.default .header ul.nav a:hover {
    text-decoration: none;
} 

.zinnia .info {
    background: #00af48;
    border-color: #00af48;
}

.zinnia.default .info a {
    color: white;
}

.zinnia.default a,
.zinnia.default a:visited,
.zinnia.default #sidebar h3 {
    color: #00af48;
}

.zinnia.default .copyright a:hover {
    color: white;
}
/* ENDBLOG STYLES */

@media (max-width: 1200px) {

  .hero-space h2 {
    font-size: 18px;
  }

  .jumbotron img {
    width: 100%;
    opacity: 0;
    height: 320px;
  }

  .ribbon {
    width: 35%;
  }

}

@media (max-width: 1000px) {

  .ribbon {
    width: 50%;
  }

}

@media (max-width: 800px) {
  .ribbon {
    width: 70%;
  }
}

@media (max-width: 400px) {

  .summary-progress p {
    font-size: 24px;
  }

  .ribbon h1 {
    font-size: 24px;
  }

  .category-menu {
    display: none;
  }

  .hero-space h2 {
    margin: 50px 0 10px;
  }
}
